body, html{
  margin:0; padding:0;
  overflow: auto;
  font-family: arial, sans-serif;
}


#menu{
  color:white;
}

h2{
  margin:10px;
}

#header{
  width: 100%;
  height: 56px;
  background-color:black;
}

#message{
  color: red;
}

#footer{

  width: 100%;
  height: 40px;
  background-color:blue;
}

h5{
  margin: 20px;
  color: white;
  overflow: none;
}

h5 a {
  color: white;
}

h6 {
  color: red;
  text-align: center;
}

#wrapper{
  width: 1024px;
  min-height:500px;
  margin: 0px auto;
}

#portfolio{
  margin-top: 80px;
  list-style-type: none;
  padding-left: 0px;
}

#portfolio li{
 display: inline-block;
 float: left;
 margin: 0px 5px 5px 0px;
 overflow: hidden;
}

#portfolio li img{
 margin-top: 30px;
 display: inline-block;
 width: 240px;
 height: 160px;
}

#cash {
  color: green;
}




