// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label{
  width: 5em;
  float: left;
  text-align: right;
  margin-right: 1.0em;
  display: block
  font-family: arial, sans-serif;
}